.match-panel {
  padding: 15px;
  margin-left: 110px;
  margin-top: 35px;
  border-radius: 4px;
  /* border: 3px solid #36bdb2; */
  width: 85%;
  background-color: rgb(244, 245, 245);
}

.qBox {
  margin: 0 25% 10px 25%;
  height: 35px;
  background-color: rgb(244, 245, 245);
}

.match-text {
  font-size: 18pt;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.profile-column {
  margin: 15px;
  margin-left: 20px;
}

.connection-column {
  margin-top: 15px;
  width: 70%;
}

.connection-cards {
  margin: 5px;
  display: flexbox;
}

.ui.card {
  display: flexbox;
}

h4 {
  margin-left: 5px;
}

.connection-wrapper {
  display: grid;
  grid-template-columns: 75px, 575px;
  grid-template-rows: 75px, 75px, 75px;
}
