.ui .qBox .segment {
  margin:0 25% 10px 25%;
  height: 35px;
}
.titleWrap {
  text-align: center;
}
.qTitle {
margin-right: 10px;
}

.parent {
  position: absolute;
}
.qCont {
  margin:0 25% 10px 25%;
}

.toggleComp {
  margin: 0 10px 0 10px;
}

.radioBtn {
  margin-right: 10px;
}

.radioBtnCont {
  margin-top: 10px;
}
.summ {
  margin-top: 50px;
}
.logInForm {
  height: 100vh;
}
.welcomeMsg {
  text-align: center;
  width: 100%;
}